<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/style.css">
  <title>About</title>
</head>

<body>
    <div class="main-content">
      {{>header}}
      <img class="portrait" src="./img/cat.jpg">
    </div>
    {{>footer}}
</body>

</html>